.gradienteNavBar {
    color: white !important;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(0, 167, 255, 1) 0%, rgba(9, 9, 121, 1) 100%) !important;

}

#portifolio {
background: rgb(18,49,74);
background: linear-gradient(90deg, rgba(18,49,74,1) 0%, rgba(63,113,153,1) 35%, rgba(63,113,153,1) 65%, rgba(18,49,74,1) 100%);
}
.h3titulo{
    text-align: center;
}
#oirtifolio{
    
}
#sobremim{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(242,74,74,1) 35%, rgba(242,74,74,1) 65%, rgba(0,0,0,1) 100%);

color: rgb(12, 208, 243);}